/* aqui se seleccionan los ids */
#titulo {
	color: tomato;
}

/* las clases se seleccionan con un punto  */
p.texto {
	color: slateblue;
}

p.especial {
	color: mediumseagreen;
}

div p {
	color: aquamarine;
}

div h2,
div h3 {
	color: brown;
}

/* el selector universal aplicara solo a 
los que no hayan sido definidos  */

* {
	font-size: 24px;
	/* color: black; */
}

/* .color {
	color: #ff0000;
} */

/* .color {
	color: rgb(11, 112, 206);
} */

.color {
	/* border: 5px red outset; */
	/* 
  dotter
  dashed
  solid
  double
  groove
  ridge
  inset
  outset
  none
  hidden
  */
	border-style: solid;
	border-color: blue;
	border-radius: 5px;
	border-width: 5px;
}

#fondo {
	background-color: rgba(255, 0, 0);
	/* Opacity le da una transparencia a todo el 
  elemento incluyendo el texto */
	/* opacity: 0.3; */
	background-image: url("../img/Sergio.png");
	height: 300px;
	/* para darle un tamaño a la imagen  */
	background-size: 200px 200px;
	background-repeat: repeat-y;
	background-position: center bottom;
	/* You can also use the background property
   with all the arguments defined in the same line */
}

.margen {
	background-color: chocolate;
	/* margin asi se refiere a : arriba derecha abajo izquierda */
	/* margin: 15px 20px 25px 30px; */
	/* tambien se puede asignar un solo valor 
  para definir todos los margenes */
	margin: 15px;
	/* padding: 30px 25px 20px 40px; */
	/* de igual forma con los padings  */
	padding: 30px;
	border: solid 1px black;
	height: 100px;
	width: 50px;
	/* el texto que no alcance a caber desaparecera */
	overflow: scroll;
	outline: 1px solid red;
}

.text {
	/* tambien se pueden cargar fuentes desde google font */
	font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
	text-align: justify;
	text-decoration: underline;
	/* text shadow arguments : sombra para la derecha, sombra para 
  abajo , luego es el difuminado y por ultimo el color   */
	text-shadow: 3px 5px 5px blue;
}

/* el orden en que se 
acomodan los de los links es importante 
 */
a:link {
	color: blue;
}

a:visited {
	color: gray;
}

a:hover {
	color: yellow;
}

a:active {
	color: red;
}

ul {
	background-color: cyan;
	list-style-type: circle;
	/* padding: 0; */
	/* list-style-position: inside; */
}

table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	border: solid 1px blueviolet;
	padding: 5px;
}

th {
	background-color: tomato;
	color: white;
	text-align: left;
}

tr:nth-child(even) {
	background-color: #eee;
}

tr:hover {
	background-color: #aaa;
	cursor: pointer;
}

span {
	display: block;
	/* display: none; */
	/* visibility: hidden; */
	/* es el ancho maximo pero puede ser menor dependiendo de 
  la pantalla donde se muestre */
	max-width: 200px;
	background-color: red;
}

/* los divs ahora se veran uno despues de otro  */
.inline {
	display: inline;
}

#position {
	/* position: relative; */
	position: sticky;
	left: 20px;
	top: 25px;
}

.left {
	float: left;
	width: 200px;
	height: 200px;
}

.right {
	float: right;
}
.container {
	height: 200px;
}

.column {
	margin: 0;
	padding: 10px 0px;
	width: 33.3%;
}

.inline-block {
	display: inline-block;
	height: 55px;
	background-color: red;
}

.center {
	padding: 50px 0px;
	text-align: center;
	width: 200px;
	margin: 0 auto;
	background-color: aqua;
}
